<div class="container ">
    <nav
        class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center bg-black border border-white">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#" routerLink="/home"><img src="/header/e-learning.png" alt="logo" height="50"
                    (click)="playAudio()"></a>
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">



                    <li class="nav-item  py-3 ">
                        <div class="dropdown d-flex flex-column">
                            <button class="btn btn-secondary btn-md dropdown-toggle " type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                            </button>
                            <ul *ngIf="categories != ''" class="dropdown-menu brutalist-card "
                                aria-labelledby="dropdownMenuButton1">
                                <li *ngFor="let category of categories" class=" "><a
                                        class="dropdown-item brutalist-card__category" href="#"
                                        (click)="getCoursesByCategory(category.id)">{{
                                        category.name }}</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item mx-2  py-3">
                        <form class="d-flex">
                            <input [formControl]="searchControl" class="form-control me-2" type="search"
                                placeholder="Search" aria-label="Search" style="z-index: 1000;">

                        </form>
                    </li>
                    <li class="nav-item mx-2 d-flex align-items-center py-2  ">
                        <a [routerLink]="sub ? null : '/mylearning'"
                            class="btn btn-light text-black text-decoration-none" [attr.aria-disabled]="sub"
                            [class.disabled]="sub">
                            Mi aprendizaje
                        </a>


                    </li>




                    <li class="nav-item mx-2   py-1">

                        <button class="btn btn-secondary btn-md dropdown-toggle" type="button"
                            (click)="toggleCartVisibility()">
                            <div class=" ">
                                <i class="fas fa-shopping-cart"></i>
                                <span>{{quantity? quantity :0}}</span>
                            </div>
                        </button>

                        <div *ngIf="enableCart && quantity>0" class="position-absolute"
                            style="z-index: 1050 !important;">
                            <div class="row px-3 ">
                                <div class="bg-white  rounded brutalist-card">
                                    <div class="d-flex flex-column align-content-around">
                                        <div class="row  mt-2" *ngFor="let courseOnCart of coursesOnCart">

                                            <div class="float-start col-3">
                                                <img src="{{url + 'course/image/'+courseOnCart.image}}" height="30"
                                                    alt="img">
                                            </div>
                                            <div class="float-start col-7 fs-6">
                                                <div>{{courseOnCart.name}}</div>

                                                <div>{{courseOnCart.price_now}}</div>
                                            </div>
                                            <div class="float-start col-2">
                                                <i class="fa-solid fa-trash"
                                                    (click)="deleteCartItem(courseOnCart.id)"></i>

                                            </div>

                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row px-1 pb-2">

                                        <div class="float-start w-50 d-flex  ">
                                            <h6 class="text-center w-100">Subtotal</h6>
                                        </div>
                                        <div class="float-start w-50 d-flex  ">
                                            <h6 class="text-center w-100">${{subTotal}}</h6>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="d-flex justify-content-center mb-2">
                                            <a href="" routerLink="/cart" type="button"
                                                class="btn rounded-3 border border-black"
                                                (click)="toggleCartVisibility()"> Ir al
                                                carrito</a>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>




                    </li>
                </ul>
                <ul class=" navbar-nav mb-2 mb-lg-0 ">
                    <li *ngIf=" decodedIdentity && decodedIdentity.name" class="nav-item mx-2">


                        <div class="btn-group "
                            [ngClass]="{ 'dropstart': isLargeScreen, 'dropdown-center': !isLargeScreen }"
                            class="dropdown">
                            <button type="button" class="btn  dropdown-toggle btn-avatar" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img [src]="newAvatarUrl ? newAvatarUrl : avatarUrl" alt="avatar" height="40"
                                    class="rounded-2 border border-white">
                            </button>
                            <div class="dropdown-menu brutalist-card position-absolute">

                                <div class="row">
                                    <div class="col-6 d-flex justify-content-center">
                                        <img [src]="newAvatarUrl ? newAvatarUrl : avatarUrl" alt="avatar" height="40"
                                            class="rounded-2 border border-black">


                                    </div>
                                    <div class="col-6 d-flex justify-content-center">
                                        <h5 class="text-center brutalist-card__header"><strong>{{name}}</strong></h5>

                                    </div>
                                    <div class="col-12">
                                        <a class="dropdown-item brutalist-card__header"
                                            routerLink="/settings"><strong>{{email}}</strong></a>
                                    </div>
                                </div>


                                <hr>



                                <div class="row">

                                    <a class=" dropdown-item brutalist-card__category brutalist-card__category--mark text-black text-decoration-none"
                                        routerLink="/settings">Mi perfil</a>


                                    <a class="dropdown-item brutalist-card__category brutalist-card__category--mark text-black text-decoration-none"
                                        *ngIf="decodedIdentity && (sub==1) || role== 'ROLE_ADMIN'"
                                        routerLink="/new_course">Crear Curso</a>

                                    <a class="dropdown-item brutalist-card__category brutalist-card__category--mark text-black text-decoration-none"
                                        *ngIf="decodedIdentity && (sub==1) || role== 'ROLE_ADMIN'"
                                        routerLink="/categories">ABM-category</a>

                                    <div class="dropdown-item brutalist-card__category brutalist-card__category--read "
                                        (click)="logout()">
                                        <a class="text-white text-decoration-none">Salir</a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </li>



                    <li *ngIf="!decodedIdentity && name==undefined" class="nav-item p-1">
                        <a href="" class="text-decoration-none text-white btn btn-outline-secondary" routerLink="/login"
                            routerLinkActive="active"> Inicia sesión</a>
                    </li>

                    <li *ngIf="!decodedIdentity && name==undefined" class="nav-item p-1 ">
                        <a href="" class="text-decoration-none text-white btn btn-outline-secondary"
                            routerLink="/registration" routerLinkActive="active">Registro</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<hr>

<div>
    <router-outlet></router-outlet>

</div>

<hr>



<footer class="text-center text-white">
    <hr>
    Plataforma de cursos online desarrollado por Dario Veliz &copy;
    <hr>
</footer>


<!-- From Uiverse.io by Na3ar-17 -->

<!-- 
<div class="radio-input">
    <label class="label">
      <input
        type="radio"
        id="value-1"
        checked=""
        name="value-radio"
        value="value-1"
      />
      <p class="text">Designer</p>
    </label>
    <label class="label">
      <input type="radio" id="value-2" name="value-radio" value="value-2" />
      <p class="text">Student</p>
    </label>
    <label class="label">
      <input type="radio" id="value-3" name="value-radio" value="value-3" />
      <p class="text">Teacher</p>
    </label>
  </div>
  -->