<div class="container d-block">
    <h1 class="text-white" *ngIf="courseData">
        Secciones/{{courseData.name}}
    </h1>



    <button id="crear-section" type="button" *ngIf="!isAccordionActioned" @fade class="button my-2"
        (click)="startCreatingSection()">
        <span class="button-content">Crear Sección </span>
    </button>


    <!--  form crear categoría-->



    <div class="row d-flex justify-content-center">
        <form [formGroup]="accordionForm" *ngIf="isAccordionActioned" @fade (ngSubmit)="onCreate(accordionForm)"
            class="card card-hidden my-2 bg-white brutalist-card" style="width: fit-content;">




            <p *ngIf="status!= 'success'" class="text-center text-black  brutalist-card__alert"
                style="font-size: medium;">
                Crea una nueva seccion para el curso
            </p>
            <small *ngIf="status!='success'">(Opcional)</small>



            <div class="form-group ">
                <input name="section_name" id="section_name" placeholder="NUEVA SECCIÓN" class="form-control"
                    formControlName="section_name" />

                <div
                    *ngIf="accordionForm.get('section_name')?.touched && accordionForm.get('section_name')?.hasError('minlength')">
                    <small class="invalid-feedback d-block"> Por favor, ingresa una categoría valida.
                        correcta.
                    </small>
                </div>

            </div>

            <div class="form-group mt-1">
                <label for="file" class="text-center">Documento de la sección</label>
                <div class="row border border-white d-flex align-items-center rounded-2 py-2">

                    <div class="float-start col-10">
                        <input id="file" type="file" name="file" ng2FileSelect [uploader]="uploader"
                            class="rounded-2 btn-outline-info" />
                    </div>
                    <div class=" float-start col-2 d-flex justify-content-center ">

                        <i (click)="clearQueue()" type="button" class="fa-solid fa-trash"></i>

                    </div>

                </div>

            </div>



            <div class="d-flex justify-content-center">
                <button type="submit" class="brutalist-card__button brutalist-card__button--mark"
                    href="#">Crear</button>

            </div>

        </form>
    </div>

    <!-- fin de form crear categoría-->




    <div class="container ">
        <div class="row ">
            <div class=" mt-3 ">

                <hr>

                <div class="row  d-flex justify-content-center ">




                    <div class=" d-flex justify-content-center align-content-center  ">
                        <div class="card-container   ">

                            <div *ngIf="accordionData" class="d-flex  justify-content-around flex-wrap">


                                <!-- card-->
                                <div *ngFor="let accordion of accordionData" class="  category-card">

                                    <!-- From Uiverse.io by 0xnihilism -->
                                    <div class="brutalist-card  mx-2 mb-4" style="min-height: 240px;">


                                        <div class="brutalist-card__header">

                                            <div class="brutalist-card__alert  w-100">
                                                <h5 class="text-center text-black">
                                                    {{ accordion.section_name ? accordion.section_name : 'Sección ' +
                                                    accordion.num_of_section }}</h5>
                                            </div>
                                        </div>


                                        <!-- Botones -->


                                        <div class="brutalist-card__actions d-flex justify-content-around"
                                            *ngIf="identityString && (identityString.sub==1 || identityString.role == 'ROLE_ADMIN')">

                                            <button type="button"
                                                class="brutalist-card__button brutalist-card__button--read" href="#"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                (click)="onUpdateCurrentAccordion(accordion)">Eliminar</button>
                                            <button class="brutalist-card__button brutalist-card__button--mark"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdropEdit"
                                                (click)="onUpdateCurrentAccordion(accordion)">Editar</button>

                                            <hr>



                                            <!-- Modal para Eliminar categoría-->
                                            <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-brutalist-card "
                                                    style="height: fit-content;">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <div class="float-start col-2">
                                                                <i class="fa-solid fa-trash text-black"></i>
                                                            </div>
                                                            <div class="float-start col-7">
                                                                <h5 class="modal-title ms-2 text-black"
                                                                    id="staticBackdropLabel">
                                                                    ¿Eliminar la sección?
                                                                </h5>
                                                            </div>
                                                            <div class="float-start col-3">
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"
                                                                    style="background-color:#FFF;"></button>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body text-black">
                                                            La sección
                                                            <strong>{{accordionToEdit?.section_name}}</strong> será
                                                            eliminada con el
                                                            id
                                                            {{accordionToEdit?.id}} junto con sus videos
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="exit-button"
                                                                data-bs-dismiss="modal"></button>


                                                            <div class="d-flex w-100 justify-content-between">
                                                                <button type="button"
                                                                    class="brutalist-card__button brutalist-card__button--read"
                                                                    data-bs-dismiss="modal"
                                                                    (click)="deleteAccordion(accordionToEdit?.id)">Eliminar</button>
                                                                <button type=" button"
                                                                    class="brutalist-card__button brutalist-card__button--mark"
                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Fin Modal-->


                                            <!-- Modal para editar sección-->

                                            <div class="modal fade " id="staticBackdropEdit" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-brutalist-card "
                                                    style="height: fit-content; width: fit-content;">
                                                    <div class="modal-content   " style="z-index: 1000; ">
                                                        <div class="modal-header ">
                                                            <div>
                                                                <strong> <i class="fa-solid fa-info "
                                                                        style="color: #000;"></i> </strong>
                                                            </div>
                                                            <div>
                                                                <h5 class="modal-title ms-2 text-black"
                                                                    id="staticBackdropLabel">
                                                                    ¿Editar la sección?
                                                                </h5>
                                                            </div>

                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"
                                                                style="color:#000;">
                                                            </button>
                                                        </div>




                                                        <form [formGroup]="accordionForm"
                                                            class=" my-2 bg-white border border-black w-100 bg-transparent"
                                                            (ngSubmit)="onUpdate(accordionForm)">


                                                            <div class="form-group ">
                                                                <input name="section_name" id="section_name"
                                                                    placeholder="NOMBRE DE LA SECCIÓN"
                                                                    class="form-control"
                                                                    formControlName="section_name" />

                                                                <div
                                                                    *ngIf="accordionForm.get('section_name')?.touched && accordionForm.get('section_name')?.hasError('minlength')">
                                                                    <small class="invalid-feedback d-block"> Por favor,
                                                                        ingresa una sección valida.

                                                                    </small>
                                                                </div>

                                                            </div>

                                                            <div class="form-group mt-1">
                                                                <label for="file" class="text-center">Documento de la
                                                                    sección</label>
                                                                <div
                                                                    class="row border border-white d-flex align-items-center rounded-2 py-2">

                                                                    <div class="float-start col-10">
                                                                        <input id="file" type="file" name="file"
                                                                            ng2FileSelect [uploader]="uploader"
                                                                            class="rounded-2 btn-outline-info" />
                                                                    </div>
                                                                    <div
                                                                        class=" float-start col-2 d-flex justify-content-center ">

                                                                        <i (click)="clearQueue()" type="button"
                                                                            class="fa-solid fa-trash"></i>

                                                                    </div>

                                                                </div>

                                                            </div>


                                                            <div class="row row d-flex justify-content-around">



                                                                <button type="submit"
                                                                    class="brutalist-card__button brutalist-card__button--read"
                                                                    data-bs-dismiss="modal">Editar</button>

                                                            </div>

                                                        </form>



                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Fin Modal-->

                                        </div>

                                        <!-- Fin Botones -->


                                    </div>



                                    <!-- Fin de card UI-->


                                </div>

                                <!-- fin de card-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>